<a href="https://colab.research.google.com/github/njaincode/PDA_portfolio/blob/main/Preparing_data_for_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Removing duplicate records from a dataset

## Check and remove NULL/NA values


> The function *check_null_values* below use pandas dataframe function isna() to detect any missing values.

> df.isna() returns a boolean same-sized object indicating if the values are NA. 

> The function *remove_null_values* below use dropna() to remove missing values in a dataframe.

In [ ]:
import pandas as pd

def check_null_values():
  csv_url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'

  df_london_housing = pd.read_csv(csv_url)

  # 1. Check if any NA values exist in the dataframe and print the result
  # isnull is an alias of isna, so both can be used interchangably
  if (df_london_housing.isna().values.any() == True):
    print(f'Data frame contains NULL entries\n')
  else:
    print(f'Data frame does not contain any NULL entries\n')

  # 2. Use df.info() to see which columns have null entries
  # Used panda function instead
  print(df_london_housing.columns[df_london_housing.isna().any()].tolist())

  # isna().any() returns an index
  print(df_london_housing.columns[df_london_housing.isna().any()])

  # Different way to look at data
  print("No. of columns containing null values")
  # isna.any -> if NA in any cell
  print(len(df_london_housing.columns[df_london_housing.isna().any()]))

  print("No. of columns not containing null values")
  # notna.all -> No NA in any cell
  print(len(df_london_housing.columns[df_london_housing.notna().all()]))

  print("Total no. of columns in the dataframe")
  print(len(df_london_housing.columns))

def remove_null_values():
  csv_url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'

  df_london_housing = pd.read_csv(csv_url)

  # 1. Check if any NA values exist in life_satisfaction column
  if (df_london_housing["life_satisfaction"].isna().values.any() == True):
    print(f'life_satisfaction column contains NULL entries\n')

    print(f'Number of rows before dropna = {len(df_london_housing.index)}')

    # For specific columns, assign to another variable
    df_nona_life_satisfaction = df_london_housing["life_satisfaction"].dropna()
    print(f'Number of rows after dropna = {len(df_nona_life_satisfaction.index)}')
    
  # 2. Remove all NA values across whole dataframe
  if (df_london_housing.isna().values.any() == True):
    print(f'Dataframe contains NULL entries\n')
    total_na_cells = df_london_housing.isna().sum()
    print(f'Total number of cells per col with NA = {total_na_cells}\n')

    df_london_housing.dropna(inplace=True)
    print(f'Number of rows after dropna on whole df = {len(df_london_housing.index)}\n')

    
check_null_values()
remove_null_values()

## Check and remove duplicate values



> The function *remove_duplicates* below uses pandas dataframe function drop_duplicates() which returns a pandas dataframe with duplicate rows removed.

In [ ]:
import pandas as pd

def remove_duplicates():
  csv_url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'

  df_london_housing = pd.read_csv(csv_url)

  # Remove duplicate area entries keeping first instance
  print(f'Number of rows before dropna = {len(df_london_housing["area"].index)}')
  print(df_london_housing[["area", "date"]])

  # Find number of duplicate entries in column area
  total_num_duplicates_in_area = len(df_london_housing['area']) -len(df_london_housing['area'].drop_duplicates())
  print(f'Total num of duplicates entries in area = {total_num_duplicates_in_area}')

  # Remove entries
  df = df_london_housing["area"].drop_duplicates()
  print(f'Total num of unique entries in area = {len(df.index)}')
  print(df)

  # df_london_housing["area"].drop_dup.. with inplace=True will not work! Use subset
  df_london_housing.drop_duplicates(subset="area", keep='first', inplace=True)
  print(df_london_housing[["area", "date"]])
  num_rows_in_area = len(df_london_housing["area"].index)
  print(num_rows_in_area)


remove_duplicates()

# Date formatting

## Date formatting using strftime() method

The functions below demonstrate manipulation of dates using datetime and timedelta libraries.

In [ ]:
from datetime import datetime

# Input any date from user and format it using strftime

def date_formatting():
  user_date, user_month, user_year = input('Please enter any date as DD MM YYYY ').split()
  # Convert from string to integer
  user_date = int(user_date)
  user_month = int(user_month)
  user_year = int(user_year)
  
  # Create datetime object
  x = datetime(user_year, user_month, user_date)

  # Different formats using strftime method 
  print(f' Full year {x.strftime("%Y")} ')
  print(f' Month(number) {x.strftime("%m")} ')
  print(f' Month(name) {x.strftime("%B")} ')
  print(f' Week number {x.strftime("%U")} ')
  print(f' Weekday(number) {x.strftime("%w")} ')
  print(f' Day of year {x.strftime("%j")} ')
  print(f' Day of month {x.strftime("%d")} ')
  print(f' Day of week {x.strftime("%a")} ')

date_formatting()

## Date manipulation using timedelta() function

The function below prints the dates of following 6 days. It uses timedelta function to calculate next date.

In [ ]:
from datetime import datetime, timedelta

def date_manipulation():
  user_date, user_month, user_year = input('Please enter any date as DD MM YYYY ').split()
  user_date = int(user_date)
  user_month = int(user_month)
  user_year = int(user_year)

  # Format the user input date
  x = datetime(user_year, user_month, user_date)

  # Generate the dates of the following 6 days
  for i in range(6):
    fdate = x + timedelta(days=i+1)
    print(fdate.strftime("%a"), fdate.strftime("%B"), fdate.strftime("%Y"))


date_manipulation()

# Data wrangling (format, merge and join)


> The functions below align the keys/column names across different dataframe by copying column and removing obsolete columns.
> It used pandas concat and append functions to join multiple data frames which are from different sources.
> It used df.sort_values function to sort the final values.

## Data wrangling

In [ ]:
import pandas as pd

def clean_state(df):
  # convert the values in the Pop column to numbers of 1000s from actual numbers (rounded)
  df['Pop'] = (df['Pop']/1000).round()
  # convert the values in the 'Pop' column to int64
  df['Pop'] = df['Pop'].astype(int)
  return df

def clean_county(df):
  # Add a new column called 'Pop' to the county_level_df dataframe
  df['Pop'] = df['Population']
  # Drop the 'Population' column 
  df.drop('Population', axis=1, inplace=True)
  return df

def data_wrangle():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true'
  
  # 1. Read the three sheets into the dataframes
  county_level_df = pd.read_excel(excel_url, sheet_name='county-level')
  state_level_df = pd.read_excel(excel_url, sheet_name='state-level')
  income_new_df = pd.read_excel(excel_url, sheet_name='income')

  # To get an idea of dataframe
  print(f'COUNTY \n ')
  print(county_level_df.info())
  print(f'STATE \n ')
  print(county_level_df.info())
  print(f'INCOME \n ')
  print(county_level_df.info())

  # 2. Align the column name 'Population' to 'Pop'
  clean_county(county_level_df)
  
  # 3. Format the 'Pop' column to represent values in 1000's and as integer
  clean_state(state_level_df)

  # 4. Combine county and state level data frame
  # ignore_index set to True to have continuous indexing in final df
  # join='inner' to concatenate columns with same name 
  df_to_concat = [county_level_df, state_level_df]
  county_state_combined_df = pd.concat(df_to_concat, ignore_index=True, join='inner')
  
  # 5. Append income_new_df to the combined dataframe
  # .append is the specific case of concat(axis=0, join='outer') 
  county_state_income_combined_df = county_state_combined_df.append(income_new_df, ignore_index=True)
  
  # 6. Sort the final dataframe on Income in descending order
  county_state_income_combined_df.sort_values(by='Income', ascending=False, inplace=True)
  
  # Print the final dataframe
  print(county_state_income_combined_df.shape)
  print(county_state_income_combined_df.head(5))
  print(county_state_income_combined_df.tail(5))
 
data_wrangle()

# Normalising values



> The function *normalise_total_vaccinations* below normalises the *total_vaccinations* across countries with respect to United Kingdom values.
After normalisation, the countries whose *total_vaccinations* >= min of UK will have value 1 and others will have value of 0.

In [ ]:
import pandas as pd
import numpy as np

def df_normalise(val, **kwds):
  min_val = kwds['uk_min']
  if val >= min_val:
    return 1
  else:
    return 0

def normalise_total_vaccinations():
  excel_url = 'https://github.com/lilaceri/Working-with-data-/blob/342abab10d93c4bf23b5c55a50f189f12a137c5f/Data%20Sets%20for%20code%20divisio/Covid%20Vaccination%20Data.xlsx?raw=true'
  
  # 1. Read Covid vaccination data from the by_country sheet
  country_vaccine_df = pd.read_excel(excel_url, sheet_name='by_country')
     
  # 1. Find the minimum total vaccinations for the United Kingdom
  # 2. Save this value in a variable rounded down to an integer
  filter_uk = country_vaccine_df['country'] == 'United Kingdom'
  # df_uk is a series
  df_uk = country_vaccine_df.loc[filter_uk, 'total_vaccinations']
  #print(df_uk)
  # min_total_vaccinations_uk is dtype float64
  min_total_vaccinations_uk = int(df_uk.min())
  print(f'minimum total vaccinations for the United Kingdom = {min_total_vaccinations_uk}')
  
  # 3. Write a function to normalise total_vaccinations column so that all values less than the UK's min are 0 and all values greater than or equal to the UK's min are coded as 1
  # Get country and total_vaccinations
  # Type is DataFrame
  df_country_total_vaccinations = country_vaccine_df[['country', 'total_vaccinations']]
  #print(type(df_country_total_vaccinations))

  # Remove all NaN and reset the index
  df_country_total_vaccinations.dropna(inplace=True)
  df_country_total_vaccinations.reset_index(drop=True, inplace=True)
  #print(df_country_total_vaccinations.head(10))

  # Apply normalisation to 'total_vaccinations'
  df_country_total_vaccinations["total_vaccinations"] = df_country_total_vaccinations["total_vaccinations"].apply(df_normalise, uk_min=min_total_vaccinations_uk)
  print(df_country_total_vaccinations.head(10))

  # 4. Display the countries for which total vaccinated is at the same rate or more than the UK
  #df_compare is of type DataFrameGroupBy
  df_compare = df_country_total_vaccinations.groupby("total_vaccinations") #("country")
  
  #df_compare.sort_values(by=["total_vaccinations"], ascending=[False], inplace=True)
  print(df_compare.head(10))

  print(f'Iterating through df_compare\n')
  df1 = df_compare.get_group(1)
  print(df1['country'].unique())
    

normalise_total_vaccinations()